.l1 {
	width: 548px;
	height: 105px;
	background-color: #64A095;
	border-radius: 15px;
	left: 8%;
	top: 15px;
	position: relative;
}
.l2 {
	width: 548px;
	height: 105px;
	background-color: #64A095;
	border-radius: 15px;
	left: 38%;
	top: 320px;
	position: absolute;
}
.l3 {
	width: 548px;
	height: 105px;
	background-color: #64A095;
	border-radius: 15px;
	left: 68%;
	top: 320px;
	position: absolute;
}
.l4 {
	width: 548px;
	height: 105px;
	background-color: #64A095;
	border-radius: 15px;
	left: 8%;
	top: 465px;
	position: absolute;
}
.l5 {
	width: 548px;
	height: 105px;
	background-color: #64A095;
	border-radius: 15px;
	left: 38%;
	top: 465px;
	position: absolute;

}
.l1 img {
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}
.l2 img {
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}
.l3 img {
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}
.l4 img {
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}
.l5 img {
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}
.l1 p {
	font-size: 24px;
	font-weight: 700;
	position: relative;
	left: 30px;
	padding-top: 35px;
}
.l2 p {
	font-size: 24px;
	font-weight: 700;
	position: relative;
	left: 30px;
	padding-top: 35px;
}
.l3 p {
	font-size: 24px;
	font-weight: 700;
	position: relative;
	left: 30px;
	padding-top: 35px;
}
.l4 p {
	font-size: 24px;
	font-weight: 700;
	position: relative;
	left: 30px;
	padding-top: 35px;
}
.l5 p {
	font-size: 24px;
	font-weight: 700;
	position: relative;
	left: 30px;
	padding-top: 35px;
}