*|* {
	padding: 0; margin: 0;
}
body{
	font-family: 'Raleway', sans-serif;
	color: #000;
	height: 100%;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 160px 15px 160px;
	box-sizing: border-box;
	background-color: #7E7E7E;
}
.header h1 img {
	vertical-align: middle;
}
.menu {
	display: flex;
	list-style: none;
}
.menu li{
	margin-left: 94px;
}
.menu li a{
	color: #000; 
	text-decoration: none;
}
.menubar {
	transition: 0.5s;
}
.menubar:hover{
	transform: scale(2);
}
.account {
	margin-top: 211px;
	max-width: 560px;
	min-height: 620px;
	margin: 0 auto;
}
.account_create {
	font-weight: 100;
	text-align: center;
	padding-bottom: 70px;
	padding-top: 100px;
	font-size: 50px;
}
.reg_field {
	line-height: 2px;	
	margin: 10px;
	padding: 5px;
}
input {
	width: 560px;
	border: none;
	outline: none;
}
.input_border {
	border-bottom: 1px solid black;
	margin: 10px;
	margin-bottom: 50px;
}
.btn_block {
	display: flex;
	justify-content: center;
}
button {
	cursor: pointer;
	height: 50px;
	width: 50%;
	border: none;
	font-size: 15px;
	border-radius: 20px;
	color: white;
	background-color: #000;
	margin-top: 50px;
}
button:hover {
	transform: scale(1.2);
	transition: all .4s;
}
.account_exists {
	text-align: center;
	padding: 5px;
	margin: 5px;
	color: #000;
	justify-content: center;
}
.avatar {
	max-width: 170px;
	align-items: center;
	padding: 25px 160px 15px 160px;
}
.avatar_img {
	width: 500px
}
div img {
	border-radius: 100%;
}
.data {
	text-align: left;
	padding-left: 165px;
}
.sidebar {
	position: absolute;
	left: 7%;
	bottom: 20%;
	width: 90%;
	height: 80px;
}
div ul li a{
	font-size: 30px;
	color: #000;
}
.container {
	width: 700px;
	height: 160px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 20px 0 -350px;
	background-color: #D8D3D3;
	border-radius: 3%;
}
.container1 {
	width: 700px;
	height: 160px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0px 0 -350px;
	background-color: #D8D3D3;
	border-radius: 3%;
}
.container2 {
	width: 700px;
	height: 160px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 100px 0px 0 -350px;
	background-color: #D8D3D3;
	border-radius: 3%;
}
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"aside article"
	"aside article";
}
.image {
	max-width: 150px;
	max-height: 150px;
	border-radius: 16px;
	margin: 24px 0px 0px 20px;
}
.register {
	font-size: 40px;
	font-weight: 100;
	margin: 91px 0 0 160px;
}
.singin {
	margin-top: 40px;
	margin-left: 162px;
}
.singin > a {
	color: #000;
}
.inf {
	margin-top: 20px;
	margin-left: 20px;
}
.inf > h1 {
	font-size: 20px;
}
.inf > p {
	font-size: 15px;
	margin-top: 5px;
	margin-right: 17px;
}
.account1 {
	text-align: center;
	padding: 5px;
	margin-top: -200px;
	margin-bottom: 200px;
	color: #000;
	border-bottom: 1px solid;
}
.container3 {
	width: 700px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0px 0 -350px;
	background-color: #D8D3D3;
	border-radius: 3%;
	font-size: 11px;
}
.container4 {
	width: 700px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0px 0 -350px;
	background-color: #D8D3D3;
	border-radius: 3%;
	font-size: 11px;
}
.container5{
	width: 700px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0px 0 -350px;
	background-color: #D8D3D3;
	border-radius: 3%;
	font-size: 11px;
}
.container3 h2 a{
	color: #000;
}
.container4 h2 a{
	color: #000;
}
.container5 h2 a{
	color: #000;
}
.container6 {
	width: 700px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0px 0 -350px;
	background-color: #D8D3D3;
	border-radius: 3%;
	font-size: 11px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}
.container6 li {
	list-style: none;
	display: flex;
	align-items: center;
	margin-right: 60px;
	font-size: 15px;
}
.js-choices {
	background-color: #7E7E7E;
	width: 180px;
	height: 40px;
	margin-top: 10px;
	margin-right: 30px;
	border-radius: 20px;
	text-align: center;
}
table {
	display: table;
	justify-content: center;
	align-items: end;
	min-height: 100%;
	width: 83%;
	border-collapse: collapse;
	margin-left: 160px;
	margin-top: 300px;
}

.str {
	border-top: 1px solid;
	transition: .5s;
}

th {
	font-weight: 300;
	padding: 5px 35px;
	font-size: 15px;
	text-align: left;
}
td {
	font-size: 20px;
	padding: 15px 35px;
}
.str:hover {
	background-color: #7E7E7E;
	color: #fff;
}
.cntr {
	text-align: left;
}
.cntr a {
	color: #000;
	text-decoration: none;
}
section {
	width: 90%;
}
.commments h1 {
	margin-left: 160px;
	margin-top: 94px;
	font-weight: 700;
	font-size: 32px;
	border-bottom: 1px solid;
}
.comments {
	width: 1120px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 40%;
	margin: -200px 0px 0 -350px;
	font-size: 11px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}
.com {
	margin-top: 20px;
	margin-left: 20px;
}
.com > h1 {
	margin-top: 20px;
	font-size: 20px;
}
.com > p {
	font-size: 15px;
	margin-top: 20px;
	margin-right: 17px;
}
.com > h2 {
	margin-top: 60px;
	border-bottom: 1px solid;
}
.comments1 {
	width: 1120px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 40%;
	margin: 10px 0px 0 -350px;
	font-size: 11px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;

}
.comments2 {
	width: 1120px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 40%;
	margin: 210px 0px 0 -350px;
	font-size: 11px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	border-top: 1px solid;
}